body {
  padding:100px 0;
  width: 80vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap:25px;
  align-items: stretch;
  font-weight: bolder;
  line-height: 10px;
  font-size: medium;
  margin-top: 50px;
}

.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.font{
  background-color:rgba(202, 189, 189, 0.527) ;
  color:#9b3138;
  text-align: center;
  font-family: Raleway,sans-serif;
  
}

.grid > article img {
  max-width: 100%;
}

.grid .text {
    color: #292c2f;
    padding:5px;
    text-align: left;
    line-height: 22px;
    font-family: 'Roboto Slab', serif;
    
}
h5{
  color:rgb(149, 32, 153);
}
span{
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* CSS */
.btn-data {
  cursor: pointer;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin:15px;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
} 
/* .btn:hover {
    /* background-color: rgba(26, 24, 24, 0.767);  */
    /* background-color: white;
    color: black; 
    border: 2px solid #181a18;
  } */ 

.btn-data:hover,
.btn-data:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}
.btn-data:hover {
  transform: translateY(-1px);
}
.btn-data:active {
  background-color: #535353;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
  /* ----------------- 9.1. Header ----------------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.brand {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
}
@media (min-width: 600px) {
  .brand {
    margin-bottom: 1rem;
  }
}
.site-header {
  padding: 2px;
  position: relative;
  background-color: #292c2f;
}

.site-header__wrapper {
  text-align: center;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}
@media (min-width: 600px) {
  .site-header__wrapper {
    text-align: center;
  }
}
@media (min-width: 600px) {
  .nav__wrapper {
    display: inline-flex;
  }
}

@media (max-width: 599px) {
  .nav__wrapper {
    cursor: pointer;
    position: inherit;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    /* color: white; */
    background-color: transparent;
    /* background-color: #d9f0f7; */
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
  .nav__wrapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.nav__item a {
  color: white;
  font: bold;
  display: inline-block;
  list-style: none;
  font-size: 18px;
  display: block;
  padding: 0px 20px;
}
.nav__item a:hover {
  color: #e7434e;
}

.nav__toggle {
  display: none;
}
@media (max-width: 599px) {
  .nav__toggle {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #fff;
  background-color: #2fa0f6;
  min-width: 120px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
}

.button svg {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  fill: #fff;
}

.button span {
  display: none;
}

@media (min-width: 600px) {
  .button span {
    display: initial;
  }
}

.button--icon {
  min-width: initial;
  padding: 0.5rem;
}